/* $Id: style.css Exp $

 credits _____________
 theme: margarita and co.
 date: 3/11/2014
 author: Cesar Alvarez, cesar@wildwildweb.es - Javi Del Campo, javi@wildwildweb.es
 company: wildwildweb.es

 colors _____________
   grey: #666666
   green: #39d6c5
           __    __          __    __            __
 _    __( ) /___/ /_    __(_) /___/ /_    __ __ / /
| |/|/ / / // _  /| |/|/ / / // _  /| |/|/ / -_) _ \
|__,__/_/_/ \_,_/ |__,__/_/_/ \_,_/ |__,__/\__/_.__/
                                     code is poetry
*/


/* general ____________________ */
html {
  overflow-y : scroll;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
}

body {    
  font-family: "futura-pt", arial, helvetica, sans-serif;
  font-style: normal;
  font-weight: 300;	
  font-size: small;	
  background: #fff;    
  color: #5c5c5c;
  line-height: 1.4em;  
}

img {
  height: auto;
  width: 100%;
}


p, ul { 
  margin: 0 0 0.8em 0;
  line-height: 150%;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content : '';
  content : none;
}

b,
strong	{
  font-weight : bold;
}

i,
em {
  font-style : italic;
}

a {
  text-decoration: none;
  color: #39d6c5;
}

a:hover {
  color: #666666;
}

a:focus { 
  outline: none;
}

a img:hover {
  opacity: 0.8;
}

sup,
sub {
  position : relative;
  font-size : 75%;
  line-height : 0;
}

sup {
  top : -.5em;
}

sub {
  bottom : -.25em;
}

address {
  font-style : normal;
}

pre {
  margin-bottom : 1.5em;
  white-space : pre;
  white-space : pre-wrap;
  word-wrap : break-word;
}

small {
  font-size : 1em; /* 16 / 16 = 1 */
}

abbr[title] {
  border-bottom : 1px dotted;
  cursor : help;
}


/* tables ____________________ */
table {
  border-collapse : collapse;
  border-spacing : 0;
  margin-bottom : 1.4em;
  width : 100%;
  font-size : .875em; /* 14 / 16 = .875 */
}

th {
  font-weight : bold;
}

th, td, caption {
  padding : .25em 10px .25em 5px;
}

tfoot {
  font-style : italic;
}

caption {
  background-color : transparent;
}


/* forms _________________________ */
form {
  margin-bottom: 1.5em;
}

fieldset {
  margin-bottom: 48px;
  padding: 0;
  border-width: 0;
}

legend {
  margin-top: -.2em 0 1em 0;
  text-transform: uppercase;
  margin-bottom: 18px;  
}

label {
  font-weight: normal;
  letter-spacing: 1px;
}

button,
input,
select,
textarea {
  margin : 0;
  font-family: "futura-pt", arial, helvetica, sans-serif;
}

label,
input[type="button"],
input[type="submit"],
input[type="image"],
button {
  cursor : pointer;
}


input[type="submit"],
input.form-submit, 
a.button, 
.page-cart #uc-cart-view-form #edit-actions a {
  background: none repeat scroll 0 0 #39d6c5;
  color: #fff;
  font-weight: 700;
  padding: 12px 30px;
  text-align: center;
  text-transform: uppercase;
  width: auto;
  border: none;
  font-size: 100%;
  -webkit-appearance: none;
  -webkit-border-radius:0; 
  border-radius:0;
}

input[type="submit"]:hover,
input.form-submit:hover, 
a.button:hover {
  background: #70DDD1;
}

input,
select {
  vertical-align : middle;
}

input[type=text],
input[type=password],
input[type=tel],
input[type=email],
input[type=url],
input[type=search],
textarea {
  border: 2px solid #b4b4b4;
  color: #111;
  font-family: "futura-pt", arial, helvetica, sans-serif;
  font-size: inherit;
  margin: 10px 0;
  padding: 8px 2px;
  width: 100%;
  -webkit-appearance: none;
  webkit-border-radius:0; 
  border-radius:0;
}

.resizable-textarea .grippie {
  display: none;
}

input[type="radio"] {
  vertical-align : text-bottom;
}

input[type="checkbox"], 
input.form-checkbox,
input.form-radio {
  vertical-align : middle !important;
}

select {
  margin: .5em 0;
  background-color: rgb(255,255,255);
  border: 1px solid #c1d9e5;
}

textarea {
  overflow: auto;
  padding: 8px 0;
}

#content .content ul {
  list-style-position: inside;
}

.page-node-1685 div.status {
  background: #39d6c5 !important;
	margin-bottom: 50px;
}

/* clearing ____________________ */
.clearfix,
.ul.quicktabs-tabs {
  zoom : 1;
}

.clearfix:before,
.clearfix:after,
.ul.quicktabs-tabs:before,
.ul.quicktabs-tabs:after {
  content : "\0020";
  display : block;
  height : 0;
  overflow : hidden;
}

.clearfix:after,
ul.quicktabs-tabs:after {
  clear : both;
}


/* krumo */
.krumo-root img {
  width: auto;	
}

/* vendor specific ____________________ */
body {
  -webkit-text-size-adjust : 100%;
  -ms-text-size-adjust : 100%; }

::-webkit-input-placeholder {
  padding : 10px;
  line-height : 1.4;
}

input:-moz-placeholder {
  padding : 10px;
  font-size : .875em;
  line-height : 1.4;
}

.ie7 img,
.iem7 img {
-ms-interpolation-mode : bicubic; }


/* system tabs  __________________ */
.tabs {
  display: block;
  margin: 20px 0 20px 0;
}

.tabs ul.primary {
  padding: 0 3px;
  margin: 0;
  overflow: hidden;
  border: none;
}
.tabs ul.primary li {
  display: block;
  float: left; /* LTR */
  vertical-align: bottom;
  margin: 0 5px 0 0; /* LTR */
}

.tabs ul.primary li a {
  border: 0;
  color: #000;
  background-color: #ededed;
  height: 18px;
  line-height: 19px;
  display: block;
  font-size: 70%;
  text-transform: uppercase;
  letter-spacing: 1px;
  float: left; 
  padding: 0 10px;
  margin: 0;
  border-radius: 2px;
}

.tabs ul.primary li.active a,
.tabs ul.primary li a:hover {
  background-color: #333;
  color: #fff;
  border: 0;
}

.tabs ul.secondary {
  border-bottom: none;
  padding: 0.5em 0;
}

.tabs ul.secondary li {
  display: block;
  float: left; /* LTR */
}

.tabs ul.secondary li:last-child {
  border-right: none; /* LTR */
}

.tabs ul.secondary li:first-child {
  padding-left: 0; /* LTR */
}

.tabs ul.secondary li a {
  padding: 0.25em 0.5em;
}

.tabs ul.secondary li a.active {
  background: #f2f2f2;
  border-bottom: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}

li.expanded, li.collapsed, li.leaf {
  padding: 0;
}

ul li.leaf {
  list-style-image: none;
  list-style-type: none;
}

#quicktabs-informacion_adicional ul.quicktabs-tabs li {
  display: inline-block;
  margin-left: 0;
  padding: 0;
}

#quicktabs-informacion_adicional li a {
  font-size: 85%;
  margin-right: 12px;
  padding: 0 15px 0 0;
  background: url("images/ico-mas.png") no-repeat scroll right center;
}

#quicktabs-informacion_adicional li.last a {
  margin-right: 0;
}

/* productos relacionados ___________________ */
#block-views-productos-relacionados-block-1 {
  display: block;
  margin: 80px 0;
}

#block-views-productos-lookbook-block {
  display: block;
  margin: 34px 0 80px 0;
}

#block-views-productos-relacionados-block-1 h2, 
#block-views-productos-lookbook-block h2 {
  text-align: center;
  font-size: 100%;
  letter-spacing: 2px;
}

#block-views-productos-relacionados-block-1 .views-row {
  display: block;
  float: left;
  margin-right: 2%;
  width: 32%;
  position: relative;
}

#block-views-productos-relacionados-block-1 .views-row-last {
  margin-right: 0;
}

/* view-productos ___________________ */
#block-views-productos-block-1 h2 {
  text-align: center;
}

.view-productos .views-row, 
.view-uc-custom-product-search .views-row {
  float: left;
  margin-right: 2%;
  margin-bottom: 2%;
  width: 23.5%;
  min-height: 325px;
}

.view-productos .views-row-4, 
.view-productos .views-row-8,
.view-productos .views-row-12,
.view-productos .views-row-16,
.view-productos .views-row-20, 
.view-productos .views-row-24, 
.view-productos .views-row-28, 
.view-uc-custom-product-search .views-row-4, 
.view-uc-custom-product-search .views-row-8,
.view-uc-custom-product-search .views-row-12,
.view-uc-custom-product-search .views-row-16,
.view-uc-custom-product-search .views-row-20, 
.view-uc-custom-product-search .views-row-24, 
.view-uc-custom-product-search .views-row-28 {
  margin-right: 0;
}

.view-productos .views-field-title a, 
.view-uc-custom-product-search .views-field-title a,
.view-productos-relacionados .views-field-title a  {
  display: block;
  font-weight: 700;
  margin-top: 5px;
  text-align: center;
}

.view-productos .views-field-display-price, 
.view-uc-custom-product-search .views-field-display-price,
.view-productos-relacionados .views-field-display-price {
  text-align: center;
  border-top: 1px solid #b2b2b2;
  margin-top: 5px;
  padding-top: 5px;
  font-weight: 700;
}

.view-productos .views-field-display-price .precio-tachado, 
.view-uc-custom-product-search .views-field-display-price .precio-tachado, 
.view-productos-relacionados .views-field-display-price .precio-tachado {
  color: #bababa;
  text-decoration: line-through;
  font-weight: 100;
  margin-right: 5px;
}

.agotado {
  display: none;
}

/* messages ___________________ */
#messages {
  padding: 20px 0 5px;
  margin: 0 auto;
}

.featured #messages {
  background: #f0f0f0;
  background: rgba(30, 50, 10, 0.08);
}

/* headers ___________________ */
h1, h2 {
  display: block;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 15px;
  text-transform: uppercase;
}


/* header ___________________ */
header {
  width: 100%;
  margin: 0 auto 24px auto; 
}


/* toolbar  ___________________ */
#toolbar {
  margin-bottom: 40px;
  background: #39d6c5;
  height: 47px;
}

#toolbar .content {
  max-width: 940px;
  margin: 0 auto;
}

#toolbar #block-search-form {
  float: left;
  display: block;
}

#block-block-9, 
#block-block-10, 
#block-block-2 {
  float: right;
}

#block-block-9 {
  color: #39d6c5;
  margin-left: 20px;
  height: 47px;
  line-height: 47px;
  border-left: 1px solid #70ddd1;
}

#block-block-9 a.button {
  background: url("images/ico-cart.png") no-repeat scroll left center rgba(0, 0, 0, 0);
  border: 0 none;
  color: #fff;
  display: inline-block;
  font-weight: 700;
  height: 47px;
  letter-spacing: 1px;
  line-height: 47px;
  margin-left: 15px;
  padding: 0 10px 0 30px;
  width: auto;
}

#block-block-9 a.button:hover, 
#block-block-10 a:hover, 
#block-block-2 a:hover {
  color: #666666;
}

#block-block-2 a, 
#block-block-10 a {
  background: url("images/ico-login.png") no-repeat scroll left center rgba(0, 0, 0, 0);
  color: #fff;
  display: block;
  height: 47px;
  line-height: 47px;
  padding-left: 25px;
}

#block-block-10 .contextual-links-processed, 
#block-block-2 .contextual-links-processed {
  display: none;
}

#block-search-form {
  padding-right: 13px;
  height: 25px;
}

#block-search-form input[type="search"] {
  background: none repeat scroll 0 0 #70ddd1;
  border: medium none;
  color: #fff;
  font-size: 120%;
  height: 43px;
  margin: 0;
  padding: 2px 4px 2px 6px;
}

#block-search-form input[type="submit"] {
  background: url("images/ico-search.png") no-repeat scroll left center rgba(0, 0, 0, 0);
  border: medium none;
  display: inline-block;
  height: 46px;
  text-indent: -9000px;
  width: 51px;
}

#block-search-form .form-item,
#block-search-form.form-actions {
  margin: 0;
}

#block-search-form .form-item-search-block-form {
  display: inline-block !important;
  margin-right: -2px;
  width: 260px;
}

#block-block-17 {
  border-left: 1px dotted #70ddd1;
  border-right: 1px dotted #70ddd1;
  float: right;
  height: 47px;
  margin-right: 15px;
  width: 128px;
	text-align: center;
}

#block-block-17 a {
  color: #5c5c5c;
  font-weight: bold;
  height: 47px;
  line-height: 47px;
  padding: 0 5px;
  text-align: center;
}

#block-block-17:hover {
  background: #5c5c5c;
}

#block-block-17:hover a,
#block-block-17 a:hover {
  color: #fff;
}

/* logo  ___________________ */
.logo-menu {
  max-width: 940px;
  margin: 0 auto;
  position: relative;
}

a#logo {
  background: url("images/bg-logo.png") no-repeat scroll left top rgba(0, 0, 0, 0);
  display: block;
  height: 109px;
  margin: 0 auto;
  text-indent: -9000px;
  width: 234px;
}

a#logo:hover {
  opacity: 0.7;
  filter: alpha(opacity = 70);  
}

/* nav ___________________ */
nav {
  height: 40px;
  margin: 0 auto;
  max-width: 940px;
  text-align: center;
  width: 100%;
}

nav #block-menu-block-1 ul.menu {
  display: inline-block;
}

nav ul.menu li {
  display: inline;
  line-height: 32px;
  margin: 0;
}

nav a {
  color: #39d6c5;
  display: block;
  float: left;
  font-weight: 700;
  margin-right: 20px;
  padding: 3px;
  text-align: center;
  text-transform: uppercase;
  font-size: 130%;
}

nav a:hover, 
nav a.active {
  color: #666666;
}

nav .last a {
  margin-right: 0;
}

nav ul.menu {
  width: auto;
  margin: 0 auto;
}

/* container  ___________________ */
#container {
  width: 90%;
  max-width: 940px;
  margin: 0 auto;
  font-size: 110%;
  background: #fff;
  padding: 20px 0;
}

/* main  ___________________ */
#main {
  margin: 0 auto;
  text-align: left;
}

/* precontent  ___________________ */
#precontent {
  width: 90%;
  max-width: 940px;
  margin: 0 auto;
}


/* submenu */
#precontent ul.menu {
  width: 100%;
  text-align: center;
  margin: 20px auto 0;
}

#precontent #block-menu-block-3 ul.menu {
  margin: 0 auto;
  border-top: 1px solid #ededed;
}

#precontent ul.menu li {
  display: inline-block;
}

#precontent ul.menu li a {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: medium none;
  border-radius: 0;
  color: #aeaeae;
  font-weight: normal;
  height: 30px;
  line-height: 30px;
  text-transform: inherit;
  width: auto;
  display: block;
  text-transform: uppercase;
  font-size: 90%;
  font-weight: 700;
}

#precontent #block-menu-block-3 ul.menu li a {
  color:#d9d9d9;
}

#precontent ul.menu li a:hover, 
#precontent ul.menu li a.active-trail, 
#precontent #block-menu-block-3 ul.menu li a.active-trail, 
#precontent #block-menu-block-3 ul.menu li a:hover {
  color: #666666;
}

#precontent ul.menu li a.active-trail {
  font-weight: 700;
}

#precontent ul.menu ul.menu {
  top: 57px;
  border: 0;
}

#precontent ul.menu ul.menu li a {
  height: 30px;
  line-height: 30px;
}

#precontent .last ul.menu li a {
  margin-right: 10px;
}


/* front  ___________________ */
#node-1 h1 {
  display: none;
}

.front #container {
  padding-top: 10px;
}

.front #block-block-16 a {
  display: block;
  float: left;
  width: 33.33%;
}

/* bloquesportada  ___________________ */
#bloquesportada {
  max-width: 940px;
  margin: 40px auto 0;
  width: 90%;
}

#bloquesportada .block-views {
  float: left;
  width: 33.33%;
}



/* slider  ___________________ */
#block-views-slider-block {
  position: relative;
  margin: 100px 0;
}

#block-views-slider-block .views-field-title {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.65);
  bottom: 5px;
  color: #fff;
  font-size: 190%;
  padding: 30px 20px;
  position: absolute;
  text-transform: uppercase;
  line-height: 120%;
}

#block-views-slider-block a img:hover {
  opacity: 1;
}

.views-slideshow-controls-top .views-slideshow-pager-field-item .views-content-counter {
  background: none repeat scroll 0 0 #fff;
  border-radius: 50px;
  display: block;
  float: right;
  height: 12px;
  margin-left: 5px;
  text-indent: -9000px;
  width: 12px;
  cursor: pointer;
}

.views-slideshow-controls-top .views-slideshow-pager-field-item.active .views-content-counter {
  background: #000;
}

.views_slideshow_cycle_main {
  position: relative;
}

.views-slideshow-controls-top {
  position: relative;
  right: 10px;
  top: 30px;
  z-index: 7;
}

/* node-pagina  ___________________ */
.node-type-pagina h1 {
  font-size: 180%;
  font-weight: 100;
}

/* node-product  ___________________ */
.uc-product-node .node-left {
  display: block;
  width: 48%;
  float: left;
  position: relative;
}

.uc-product-node .node-left img {
  max-width: 460px;
  margin-bottom: 8px;
}

.uc-product-node .node-left span.rebajado {
  display: block;
  height: 147px;
  position: absolute;
  right: 0;
  text-indent: -9000px;
  top: 0;
  width: 108px;
}

.uc-product-node .node-left span.agotado {
  display: block;
  height: 147px;
  position: absolute;
  right: 0;
  text-indent: -9000px;
  top: 0;
  width: 108px;
}

.uc-product-node .node-right {
  display: block;
  width: 46%;
  float: right;
}

.uc-product-node h1 {
  font-size: 160%;
  font-weight: 300;
  margin: 0 0 18px;
  padding: 0;
  line-height: 110%;
  text-transform: uppercase;
}

.uc-product-node .node-right .uc-price-label, 
.add-to-cart .form-required {
  display: none;
}

.uc-product-node .node-right .list-price .uc-price {
  text-decoration: line-through;
  color: #bababa;
  font-size: 120%;
}

.uc-product-node .product-info.list-price {
  float: left;
  margin: 0 0 0 3px;
}

.uc-product-node .node-right .display-price {
  clear: right;
  color: #39d6c5;
  float: none;
  font-size: 180%;
  font-weight: normal;
  margin: 0 0 10px;
  padding: 0;
  text-align: left;
}

.uc-product-node .node-right .price-suffixes, 
.page-search .price-suffixes {
  font-size: 55%;
  font-weight: 100;
  margin-left: 10px;
}

.uc-product-node .node-right h3 {
  display: block;
  float: right;
  font-size: 100%;
  width: 100%;
  margin-top: 40px;
}

.uc-product-node .node-right .field-body {
  float: left;
  margin: 8px 0 20px;
  width: 100%;
}

.add-to-cart .attributes {
  float: left;
  width: 100%;
}

.add-to-cart .attribute {
  display: block;
  float: left;
  width: 45%;
}

.add-to-cart input[type="text"] {
  width: 30px;
  text-align: center;
  margin-top: 0;
  border: 1px solid #b4b4b4
}

.add-to-cart .form-type-uc-quantity {
  float: left;
  display: block;
  margin-right: 40px
}

.add-to-cart .form-type-uc-quantity #edit-qty, 
.add-to-cart, 
span.envio {
  float: left;
}

.add-to-cart .form-type-uc-quantity label {
  float: right;
  height: 30px;
  line-height: 38px;
  margin-left: 10px;
}

.add-to-cart .form-actions {
  display: block;
  float: left;
}
.add-to-cart input.node-add-to-cart {
  background: none repeat scroll 0 0 #39d6c5;
  border: medium none;
  color: #fff;
  font-size: 100%;
  font-weight: 700;
  padding: 9px 24px;
  text-align: center;
  text-transform: uppercase;
  width: auto;
}

.add-to-cart .uc-out-stock-processed .form-type-select label, 
.add-to-cart .form-type-select select {
  width: 140px;
}

.uc_out_of_stock_html p {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 130%;
  margin-left: -40px;
  color: #FF9598;
}


.uc-product-node .tallas {
  float: left;
  margin-bottom: 20px;
  width: 100%;
  font-weight: 700;
}


.group-informacion-adicional {
  display: block;
  float: left;
  width: 100%;
}

span.envio {  
  font-weight: 700;
  margin: 40px 0;
}

.addthis {
  display: block;
  float: left;
  margin: 20px 0;
  width: 100%;
}

.addthis_toolbox {
  width: 150px !important;
}

.addthis_32x32_style .at15t_facebook {
  background-position: center center !important;
  background-image: url("images/ico-facebook.png") !important;
}

.addthis_32x32_style .at15t_twitter {
  background-position: center center !important;
  background-image: url("images/ico-twitter.png") !important;
}

.addthis_32x32_style .at15t_google_plusone_share {
  background-position: center center !important;
  background-image: url("images/ico-google.png") !important;
}

.addthis_32x32_style .at15t_pinterest_share {
  background-position: center center !important;
  background-image: url("images/ico-pinterest.png") !important;
}

/* prefooter ___________________ */
#prefooter {
  width: 100%;
  border-top: 1px solid #c2c2c2;
  padding-top: 40px;
  margin-top: 100px;
}

#prefooter h2 {
  background: url("images/logo-footer.jpg") no-repeat center center;
  height: 68px;
  margin-top: -80px;
  text-align: center;
  text-indent: -9000px;
}

#prefooter #block-block-4 {
  width: 210px;
  margin: 0 auto;
}

#prefooter #block-block-4 a {
  display: block;
  float: left;
  text-indent: -9000px;
  width: 32px;
  height: 32px;
  margin-right: 12px;
}

#prefooter #block-block-4 a:hover {
  opacity: 0.8;
}

#prefooter #block-block-4 a.facebook {
  background: url("images/ico-facebook.png") no-repeat center center;
}

#prefooter #block-block-4 a.twitter {
  background: url("images/ico-twitter.png") no-repeat center center;
}

#prefooter #block-block-4 a.google {
  background: url("images/ico-google.png") no-repeat center center;
}

#prefooter #block-block-4 a.instagram {
  background: url("images/ico-instagram.png") no-repeat center center;
}

#prefooter #block-block-4 a.pinterest {
  background: url("images/ico-pinterest.png") no-repeat center center;
  margin-right: 0;
}


/* footer ___________________ */
footer {
  height: 200px;
  margin: 60px auto;
  max-width: 940px;
  width: 90%;
  font-size: 95%;
  font-weight: 700;
}

footer .content {
  max-width: 940px;
  width: 100%;
  margin: 0 auto;
}

footer .block {
  border-left: 1px solid #c2c2c2;
  float: left;
  height: 270px;
  padding: 10px 0;
  text-align: center;
  width: 24.8%;
}

footer #block-block-14.block {
  border-right: 1px solid #c2c2c2;
}

footer h2 {
  margin-bottom: 10px;
  font-size: 85%;
}

footer #block-block-14 p {
  background: url("images/bg-envio.png") no-repeat top center;
  padding-top: 60px;
  font-size: 85%;
}

footer #block-menu-menu-informaci-n ul li {
  margin-left: 0;
}

footer #block-menu-menu-informaci-n a {
  display: block;
  font-size: 85%;
  text-align: center;
  text-transform: uppercase;
  padding: 5px 0;
}

footer #block-menu-menu-informaci-n ul li a.active {
  color: #39d6c5;
}

footer #block-menu-menu-informaci-n ul li a:hover {
  color: #666666
}

.mailchimp-newsletter-mergefields {
  margin: 0 auto;
  width: 160px;
}

#mailchimp-newsletter-501169-mergefields input[type="text"], 
#mailchimp-newsletter-501169-mergefields input[type="email"] {
  height: 9px;
  border: 1px solid #b4b4b4;
  width: 96%;
}

#mailchimp-signup-subscribe-block-suscripcion-al-newsletter-form input[type="submit"], 
#mailchimp-signup-subscribe-block-suscripcion-al-newsletter-form input.form-submit {
  font-size: 90%;
  padding: 6px 30px;
}


/* postfooter ___________________ */
#postfooter {
    height: 60px;
    margin: 148px auto 0;
    max-width: 940px;
    width: 90%;
}

#postfooter #block-block-5 {
  font-weight: 700;
  line-height: 110%;
  margin: 0 auto;
  width: 462px;
}


/* maintenance page  ___________________ */
#maintenance {
  margin: 0 auto;
  text-align: center;	
}

#maintenance a#logo {
  margin: 100px auto 108px auto;
  float: none;
}

#maintenance h1 {
  margin: auto;
  font-weight: normal;
}

#maintenance img {
  width: auto;
}	
	
/* pager  ___________________ */
#content .item-list ul.pager {
  margin-top: 30px;
  text-align: right;
}

#content .item-list ul.pager li {
  margin: 0;
  padding: 0;
}

#content .item-list ul.pager li.pager-current {
  background: #000;
  color: #fff;
  padding: 2px 12px;
  font-weight: normal;
}

#content .item-list ul.pager li a {
  color: #fff;
  background: #39d6c5;
  padding: 2px 12px;
}

#content .item-list ul.pager li a:hover {
  background: #000;
}

/* contacto ______________*/
.page-node-8 h1, 
.page-node-45 h1 {
  display: none;
}

.page-node-8 #node-8 .content {
  position: relative;
}

.page-node-8 .content .field-body {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
  color: #fff;
  height: 345px;
  position: absolute;
  top: 0;
  width: 240px;
}

.page-node-8 .phone {
  display: block;
  font-size: 235%;
  font-weight: 700;
  margin: 42px 0 15px 15px;
}

.page-node-8 .adress {
  display: block;
  font-size: 130%;
  margin: 0 0 40px 15px;
}

.page-node-8 a.button {
  margin-left: 15px;
}



/* login ______________*/
.toboggan-unified #login-links a.lt-active,
.toboggan-unified #login-links a.lt-active:hover {
  background-color: #39d6c5;
  border: medium none;
  color: #FFFFFF;
}

.toboggan-unified #login-links a {
  font-size: 65%;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: none;
}

.captcha img {
  width: 200px;
}


/* perfil de usuario ______________*/
.page-user #content .block {
  margin-bottom: 24px;	
}

.page-user #content .profile .right {
  margin: 20px 0;
}

.page-user #edit-timezone, 
.page-user #edit-locale, 
.page-user ul.tabs.primary {
  display: none;
}

.page-user .uc-order-action img, 
.page-user th .active img {
  width: auto;
}

#edit-account {
  margin-bottom: 48px;	
}

#block-views-uc-orders-user-block-1 {
  margin-top: 60px;
}

.form-item-taxonomy-catalog-und select {
  height: 250px;
}

/* addthis  ___________________ */
.addthis_toolbox {
  margin: 10px 0;
  width: 120px;
}

.addthis_toolbox .at300b {
  display: block;
  margin-bottom: 6px;
  color: #4B4B4B;
}

.addthis_toolbox span.at16nc {
  display: inline-block;
  margin-top: 2px;
  vertical-align: top;
}

.field-name-field-contenido {
  margin: 5px 0;
}

/* admin panel ___________________*/
#block-block-11 {
  margin-top: 48px;	
}

#panel-left {
  width: 40%;
  float: left;	
}

#panel-right {
  width: 40%;
  float: right;	
}

.panel {
  margin-bottom: 42px;	
  padding-left: 80px;	
}

.panel-content {
  background: url(images/ico-panel-content.png) no-repeat top left;
}

.panel-users {
  background: url(images/ico-panel-users.png) no-repeat top left;
}

.panel-forms {
  background: url(images/ico-panel-forms.png) no-repeat top left;
}

.panel-taxonomy {
  background: url(images/ico-panel-taxonomy.png) no-repeat top left;
}

.panel-stadistics {
  background: url(images/ico-panel-stadistics.png) no-repeat top left;
}

.panel-shop {
  background: url(images/ico-panel-shop.png) no-repeat top left;
}

.panel-newsletter {
  background: url(images/ico-panel-newsletters.png) no-repeat top left;
}

/* cart ___________________*/
.page-cart #uc-cart-view-form .remove input {
  background: url("images/ico-trash.png") no-repeat scroll center center;
  border: medium none;
  margin-top: 15px;
  text-indent: -9000px;
}

.page-cart #uc-cart-view-form .uc-price {
  display: block;
  margin-top: 20px;
}

.page-cart #uc-cart-view-form .qty input {
  text-align: center;
}

.page-cart #uc-cart-view-form input#edit-update {
  display: none;	
}

.page-cart #uc-cart-view-form #edit-actions a, 
.page-cart input#edit-cancel, 
.page-cart #uc-cart-checkout-review-form input#edit-back {
  background: none repeat scroll 0 0 #b8b8b8;
  margin-right: 10px;
}

.page-cart #uc-cart-view-form input#edit-update:hover, 
.page-cart #uc-cart-view-form #edit-actions a:hover, 
.page-cart input#edit-cancel:hover, 
.page-cart #uc-cart-checkout-review-form input#edit-back:hover {
  background: none repeat scroll 0 0 #6b6b6b;
}

.page-cart .uc-store-address-field .form-item label {
  font-size: 85%;
  padding: 0;
  text-align: left;
  text-transform: uppercase;
  width: auto;
}

.page-cart .form-item-panes-delivery-delivery-street1 span.nota {
  font-weight: 100;
  text-transform: initial;
}

.page-cart legend {
  font-weight: 700;
}

.page-cart #delivery-pane input {
  margin-top: 0;
}

.page-cart .marker,
.page-cart #paypal-includes, 
.page-cart .uc-credit-cctype, 
.page-cart #delivery-pane .fieldset-description, 
.page-cart #billing-pane .fieldset-description, 
.page-cart #coupon-pane .description, 
.page-cart #edit-panes-customer-new-account legend, 
.page-cart .form-item-panes-delivery-delivery-street2, 
.page-cart #coupon-pane .fieldset-description, 
.page-cart .form-item-panes-coupon-code label, 
.page-cart #payment-details, 
.page-cart .form-item-panes-comments-comments label, 
.page-cart #quotes-pane {
  display:none;
}

.page-cart .fieldset-description, 
.page-cart #edit-panes-delivery-address .form-item {
  margin-bottom: 15px;
}

.page-cart #payment-pane {
  border-bottom: 1px solid #bbb;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.page-cart #payment-pane #line-items-div {
  font-size: 150%;
  padding: 10px;
}

.page-cart #payment-pane #line-items-div tbody {
  border-top: 0;
}

.page-cart #uc-store-address-delivery-zone-wrapper label, 
.page-cart .form-item-panes-delivery-delivery-country label {
  padding: 5px 6px 6px 0 !important;
}
 
.page-cart .order-review-table .title-col, 
.page-cart .order-review-table .data-col {
  text-align: left;
  padding: 10px 2em;
}

.page-cart .order-review-table .review-button-row {
  height: 60px;
} 

.page-cart .uc-store-address-field .form-item label {
  float: none;
}

.page-cart input[type=text], 
.page-cart input[type="password"], 
.page-cart #quote {
  max-width: 400px;
}

.page-cart .uc-price {
  display: block;
}

.page-cart #review-instructions p {
  text-align: center;
}

.page-cart #line-items-div .line-item-tax_subtotal, 
.page-cart #line-items-div .line-item-tax {  	
}

.address-pane-table .field-label {
  text-align: left;	
}

.address-pane-table table td {
  display: block;
  padding: 0;
}

.address-pane-table table tr {
  display: block;
  margin-bottom: 8px;
}

tr.even,
tr.odd, 
.order-review-table .review-button-row {
  background: none;
}

/* cookies popup ___________________*/
#sliding-popup .popup-content #popup-text p, 
#sliding-popup {
  height: 50px !important;
  line-height: 50px;
}

#sliding-popup .popup-content #popup-text {
  margin-top: 0;
}

#sliding-popup .popup-content #popup-buttons button {
  margin-top: 0;
}

#sliding-popup .popup-content #popup-buttons button.find-more-button {
  background: none;
  border: none;
  box-shadow: none;
  text-shadow: none;
  color: #ededed;
  text-decoration: underline;
}

#sliding-popup .popup-content #popup-buttons button.find-more-button:hover {
  color: #dfdfdf;
}

/* avisos ___________________*/
div.error, table tr.error {
  background-color: #e3868f;
  border: none;
  color: #fff;
}

div.error {
  background: #e3868f;
}

div.status, table tr.ok {
  background-color: #666666;
  border: none;
  color: #fff;
  padding: 14px 0 12px 50px;
}

div.status {
  background: #666666;
}

div.status a {
  color: #fff;
  text-decoration: underline;
}

/* resultados de busqueda ___________________*/
.node-results .search-result {
  display: block;
  width: 100%;
  float: left;
  margin-top: 25px;
}

.node-results .field-uc-product-image,
.node-results .field-look-foto {
  display: block;
  float: left;
  margin-right: 20px;
}

.node-results .field-uc-product-image + .field-uc-product-image,
.node-results .field-look-foto + .field-look-foto {
  display: none;
}

.search-results .search-snippet-info {
  padding-left: 0;
}

.page-search .form-item-keys label {
  display: block !important;
} 

.page-search .form-item-keys input {
  width: 85.2%;
}

.page-search input[type="search"] {
  padding: 10px 2px;
}

.page-search .uc-price {
  display: block;
  text-align: right;
}

.page-search .search-snippet-info .field-label {
  font-weight: 700;
}

.page-search .form-item-type-slider, 
.page-search .form-item-type-webform, 
.page-search .form-item-language {
  display: none;
}

.page-search h2 {
  text-align:center;
  font-size: 100%;
  font-weight: 300;
}

.page-search .field-title-field {
  float: left;
  margin-top: 50px;
  width: 40%;
}  

.page-search .field-title-field a {
  font-size: 150%;
  font-weight: 700;
}

.page-search .display-price {
  margin-top: 50px;
  width: 8%;
}

/* view-blog ___________________ */
.view-blog .views-row {
  width: 48%;
  float: left;
  margin-bottom: 50px;
}

.view-blog .views-row-odd {
  margin-right: 4%;
}

.view-blog .views-row .views-field-title-1 a {
  font-size: 150%;
  font-weight: 500;
  line-height: 110%;
}

/* blog ___________________ */
.ds-2col-fluid > .group-right, 
.ds-2col-fluid > .group-left {
  width: 48%;
}

.node-blog h2 {
  text-transform: inherit;
  margin-top: 10px;
  line-height: 110%;
  font-size: 175%;
}

.node-blog .field-body {
  margin-bottom: 50px;
}

#block-disqus-disqus-comments {
  width: 48%;
  float: right;
  margin-top: 50px;
}

/* buscador por tallas ___________________ */
#uc-custom-product-search-form {
  margin-top: 60px;
}

#uc-custom-product-search-form #edit-terms {
  float: left;
	width: 64%;
}

#uc-custom-product-search-form #edit-options {
  float: right;
	width: 30%;
}

#uc-custom-product-search-form #edit-terms .form-wrapper {
  width: 33%;
	float: left;
}

#uc-custom-product-search-form #edit-terms .fieldset-legend, 
#uc-custom-product-search-form #edit-options .fieldset-legend {
  font-weight: bold;
	font-size: 115%;
	margin-bottom: 10px;
	display: block;
	color: #39d6c5;
}

#uc-custom-product-search-form #edit-terms .form-wrapper .fieldset-legend, 
#uc-custom-product-search-form #edit-options .form-wrapper .fieldset-legend {
	font-size: 100%;
	color: inherit;
	margin-bottom: 0px;
	display: inherit;
}

#uc-custom-product-search-form #edit-options-size-1 .form-type-checkbox {
  float: left;
	width: 33%;
}

#uc-custom-product-search-form input.form-submit {
	float: right;
}

/* media queries ___________________ */
/* _________________________________ */
/* layouts smaller than 800px ___________________*/

@media screen and (max-device-width: 800px), screen and (max-width: 800px) {
  a#logo {
    background: url("images/bg-logo.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    float: none;
    margin: 0 auto 40px;
    background-size: 90%;
  }

  .add-to-cart .attribute {
    float: none;
  }

  .view-productos .views-row {
    width: 48%;
    margin-bottom: 30px;
  }

  footer {
    height: auto;
  }

  footer .block {
    margin-bottom: 45px;
    border-right: 1px solid #c2c2c2;
    width: 48%;
    border-left: 0;
  }

  footer #block-menu-menu-informaci-n.block, 
  footer #block-block-13.block {
    border-left: 1px solid #c2c2c2;
  }

  #postfooter {
    margin-top: 20px;
  }
	
	#uc-custom-product-search-form #edit-terms, 
	#uc-custom-product-search-form #edit-options {
	  width: 100%;
		margin-bottom: 0;
	}
	
	#uc-custom-product-search-form #edit-options-size-1 .form-type-checkbox {
	  float: left;
	  width: 20%;
	}
}


/* layouts smaller than 650px ___________________*/
@media screen and (max-device-width: 650px), screen and (max-width: 650px) {
  .uc-product-node .node-left, 
  .uc-product-node .node-right, 
  .node-blog .group-left, 
  .node-blog .group-right, 
  #block-disqus-disqus-comments, 
  #panel-left, 
  #panel-right {
    width: 100%;
    float: none;
    margin-bottom: 30px;
  }
	
	#uc-custom-product-search-form #edit-terms .form-wrapper {
	  float: left;
	  width: 100%;
	}
	
  #toolbar {
    height: 140px;
		position: relative;
  }

  #toolbar #block-search-form {
    height: 47px;
    margin-top: 0;
    width: 100%;
    padding-right: 0;
  }

  #block-block-2, 
  #block-block-10 {
    float: left;
    width: 48%;
    text-align: center;
  }

  #block-block-2 a, 
  #block-block-10 a {
    background: url("images/ico-login.png") no-repeat scroll left center rgba(0, 0, 0, 0);
    font-weight: bold;
    margin: 0 auto;
    padding-left: 20px;
    text-transform: uppercase;
    width: 68px;
  }

  #block-block-9 {
    float: right;
    margin: 0;
    width: 48%;
    text-align: center;
  }

  #block-block-9 a.button {
    margin-left: 0;
  }

  #block-search-form h2 {
    display: none;
  }

  #block-search-form .container-inline {
    background: none repeat scroll 0 0 #70ddd1;
  }

  #block-search-form #edit-actions {
    width: 51px;
  }

  #block-search-form input[type="submit"] {
    display: block;
    float: right;
    padding: 0;
    width: 51px;
  }

  #block-search-form .form-item-search-block-form {
    display: inline-flex;
    margin-right: 0;
    width: 76%;
  }

  #block-search-form form {
    background: none repeat scroll 0 0 #70ddd1;
    height: 45px;
  }
	
	#block-block-17 {
	    background: #1ac1af none repeat scroll 0 0;
	    border-right: none;
	    height: 47px;
	    margin-right: 0;
	    position: absolute;
	    text-align: center;
	    text-transform: uppercase;
	    top: 47px;
	    width: 100%;
	}
	
	#block-block-9, #block-block-10, #block-block-2 {
	    background: #39d6c5 none repeat scroll 0 0;
	    float: right;
	    margin-top: 45px !important;
	}

}

/* layouts smaller than 550px ___________________*/
@media screen and (max-device-width: 550px), screen and (max-width: 550px) {
  

  nav {
    max-width: 302px;
  }

  #block-views-slider-block .views-field-title {
    font-size: 100%;
  }

  #bloquesportada .block-views {
    display: block;
    float: none;
    margin: 0 auto 40px;
    width: 95%;
  }

  .view-productos .views-row {
    float: none;
    margin: 0 auto 40px;
    width: 95%;
  }

  .view-blog .views-row {
    width: 100%;
  }

  footer {
    height: auto;
  }

  footer .block {
    float: none;
    width: 90%;
    margin: 0 auto 70px;
    border-top: 1px solid #c2c2c2;
    border-right: 0;
    border-left: 0;
    padding-top: 35px;
  }

  footer #block-menu-menu-informaci-n.block,
  footer #block-block-13.block {
    border-left: 0;
  }

  footer #block-block-13.block, 
  footer #block-block-14.block  { 
    height: 100px;
    border-right: 0;
  }

  footer #block-menu-menu-informaci-n.block {
    height: auto;
  }

  #container #block-menu-menu-informaci-n p {
    margin-bottom: 15px;
  }

  #postfooter {
    margin-top: 30px;
  }

  #postfooter #block-block-5 {
    width: 100%;
    text-align: center;
  }

  .toboggan-unified #login-links a {
    display: block;
    font-size: 70%;
    font-weight: bold;
    letter-spacing: 0;
    margin: 20px auto;
    padding: 0 5px;
    width: 165px;
  }
	
	#uc-custom-product-search-form #edit-options-size-1 .form-type-checkbox {
		width: 33%;
	}

}

















